GITHUB_TOKEN=your_token
GITHUB_USERNAME=your_username
# .env
REACT_APP_FIREBASE_API_KEY=AIzaSyDuUAUMAYD7GGmtJl4MqjWW7Xv-S8C3J8o
REACT_APP_FIREBASE_AUTH_DOMAIN=portfolio-profile-db1e0.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=portfolio-profile-db1e0
REACT_APP_FIREBASE_STORAGE_BUCKET=portfolio-profile-db1e0.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=373008525573
REACT_APP_FIREBASE_APP_ID=1:373008525573:web:1276855f6e04e93a0aaf6c
REACT_APP_FIREBASE_MEASUREMENT_ID=G-LZ73NMHY27